---
import { estudios } from "@/data/studies.ts";

import Layout from "@/layouts/Layout.astro";
import BarNav from "@/components/BarNav.astro";
import Inicio from "@/components/indexComponents/Inicio.astro";
import SobreMi from "@/components/indexComponents/SobreMi.astro";
import Proyectos from "@/components/indexComponents/Proyectos.astro";
import Footer from "@/components/Footer.astro";

import Subtitulo from "@/components/Subtitulo.astro";
import CardEstudios from "@/components/CardEstudios.astro";
---

<Layout title="Gabriela Ferrer - Bienvenido a mi portafolio.">
  <BarNav />
  <main class="flex flex-col items-center gap-8 font-montserrat">
    <Inicio />
    <SobreMi />
    <section
      id="experiencia-container"
      class="w-screen flex flex-col items-center"
    >
      <Subtitulo align="center" type="Experiencia" />

      <div
        class="flex flex-col md:flex-row  items-start gap-10 py-40 min-w-xs px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0"
      >
        <div class="flex flex-row items-center gap-4 mt-2">
          <p class="text-black font-bold text-base font-jost">
            Nov, 2024 - Oct,2025
          </p>
          <div class="h-0.5 bg-black w-20"></div>
        </div>

        <article class="flex flex-col gap-6">
          <header >
            <h4
              class="efectoResaltador font-bold font-jost text-xl md:text-2xl w-fit"
            >
              UI/UX Developer - Mvp KunturWing
            </h4>
          </header>
          <main>
            <ul class="text-sm lg:text-base space-y-1">
              <li class="list-disc list-outside pl-5">
                Creación y mantenimiento del sistema de diseño alineado a la
                marca y escalable.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño del flujo de navegación enfocado en usabilidad y
                coherencia.
              </li>
              <li class="list-disc list-outside pl-5">
                Desarrollo de wireframes, mockups y prototipos de alta fidelidad
                junto al equipo de desarrollo.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño y desarrollo de la landing page del producto orientada a
                conversión.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño de la interfaz visual asegurando accesibilidad y
                consistencia visual.
              </li>
              <li class="list-disc list-outside pl-5">
                Aplicación de Design Thinking para crear soluciones centradas en
                el usuario.
              </li>
            </ul>
          </main>
          <!-- <footer
            class="flex flex-row items-center justify-center gap-6 w-full border-t-2 border-[#d1d1d1] pt-8"
          >
            <div
              class="bg-primary text-white font-semibold py-2 px-6 md:px-10 text-sm lg:text-base"
            >
              Referencias:
            </div>
            <div class="text-center text-sm lg:text-base">
              Eduardo Sánchez- CO del proyecto <br /> +57 3183400992
            </div>
          </footer> -->
        </article>
      </div>
    </section>
    <Proyectos client:load />
    <section id="estudios-container" class="w-screen -mt-8">
      <Subtitulo align="center" type="Estudios" />
      <div class="flex flex-col gap-10 justify-center items-center py-20">
        {
          estudios.map((estudio) => (
            <CardEstudios
              duration={estudio.duration}
              institution={estudio.institution}
              title={estudio.title}
              descriptions={estudio.descriptions}
              link={estudio.link}
              tags={estudio.tags}
            />
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
