---
import { proyectosUX, proyectosFront } from "@/data/portfolio.ts";
import { estudios } from "@/data/studies.ts";

import Layout from "@/layouts/Layout.astro";
import RedesBoton from "@/components/RedesBoton.astro";
import { Icon } from "astro-icon/components";
import BarNav from "@/components/BarNav.astro";
import Subtitulo from "@/components/Subtitulo.astro";
import Card from "@/components/Card.astro";
import CardEstudios from "@/components/CardEstudios.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Gabriela Ferrer - Bienvenido a mi portafolio.">
  <BarNav />
  <main class="flex flex-col items-center gap-8">
    <section
      id="sobre-mi-container"
      class="py-40 lg:py-0 lg:h-screen max-w-[1024px] flex flex-col lg:flex-row items-center justify-center gap-5 px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 font-medium"
    >
      <div
        id="biografia"
        class="lg:w-2/3 flex flex-col gap-4 lg:gap-8 text-center lg:text-left"
      >
        <h1
          class="w-fit py-2 px-8 bg-tag text-center [box-shadow:_0px_4px_0px_#000000] border border-black rounded-2xl text-[clamp(1.02rem,_1.114rem_+_0.727vw,_1.20rem)]"
        >
          ¡Hola! soy <span class="font-bold">Gabriela Ferrer.</span>
        </h1>
        <div class="flex gap-2 flex-col">
          <h2
            class="font-bold text-[clamp(1.25rem,_1.114rem_+_0.727vw,_1.75rem)]"
          >
            <span class="text-primary">Front-End</span> Developer <span
              class="text-primary"
            >
              <br />UX / UI</span
            > Designer
          </h2>
          <p class="text-sm lg:text-lg font-medium leading-tight">
            Soy UX / UI Developer y Diseñadora gráfica en formación ¡Bienvenido
            a mi portafolio!
          </p>
        </div>
        <div id="mis-redes" class="flex flex-wrap gap-4">
          <RedesBoton href="https://github.com/MorganSnape" text="Github">
            <Icon name="fa6-brands:github" height={20} width={20} />
          </RedesBoton>
          <RedesBoton
            href="https://www.linkedin.com/in/gabriela-de-los-angeles-ferrer-martinez-8a45771a4/"
            text="LinkedIn"
          >
            <Icon name="fa6-brands:linkedin" height={20} width={20} />
          </RedesBoton>
          <RedesBoton href="/pdf/Gabriela_Ferrer_CV.pdf" text="Currículum">
            <Icon name="bxs:file-blank" height={20} width={20} /></RedesBoton
          >
        </div>
      </div>
      <div
        id="izquierda"
        class="relative font-bold flex flex-col items-center gap-2 lg:w-1/2"
      >
        <div
          class="absolute -left-8 top-14 w-fit py-2 px-4 bg-tag text-center [box-shadow:_0px_4px_0px_#000000] border border-black rounded-xl text-[clamp(0.4rem,_1.114rem_+_0.727vw,_0.8rem)]"
        >
          Front-End Developer
        </div>
        <div
          class="absolute -right-8 bottom-14  w-fit py-2 px-4 bg-tag text-center [box-shadow:_0px_4px_0px_#000000] border border-black rounded-xl text-[clamp(0.4rem,_1.114rem_+_0.727vw,_0.8rem)]"
        >
          UX / UI Desinger
        </div>
        <div
          id="foto-perfil"
          class="flex justify-end bg-primary overflow-hidden bg-cover bg-center rounded-[90px] w-40 md:w-[300px] md:h-[400px] shadow-[16px_16px_0px_#000000]"
        >
          <img
            src="/images/Foto.png"
            alt="Foto de Gabriela Ferrer usando un sueter rosa y sonriendo."
            class="w-11/12 object-cover"
          />
        </div>
      </div>
    </section>
    <section
      id="experiencia-container"
      class="w-screen flex flex-col items-center"
    >
      <Subtitulo align="center" type="Experiencia" />
      <div
        class="flex items-center gap-10 py-20 min-w-xs px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 max-w-[980px]"
      >
        <article class="flex flex-col gap-8">
          <header class="flex flex-col gap-2">
            <p class="text-primary font-bold text-xs">Nov, 2024 - Oct,2025</p>
            <h4
              class="font-semibold bg-secondary text-md md:text-lg py-1 px-2 w-fit"
            >
              UI/UX Developer
            </h4>
            <p class="tracking-[6px] font-bold text-sm lg:text-base">
              Mvp KunturWing
            </p>
          </header>
          <main>
            <ul class="text-sm lg:text-base">
              <li class="list-disc list-outside pl-5">
                Creación y mantenimiento del sistema de diseño siguiendo
                lineamientos de marca, garantizando consistencia visual y
                escalabilidad en todos los componentes del producto.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño del flujo de navegación con enfoque en usabilidad,
                simplicidad y coherencia para optimizar la experiencia del
                usuario.
              </li>
              <li class="list-disc list-outside pl-5">
                Elaboración de wireframes, mockups y prototipos de alta
                fidelidad en colaboración con el equipo de desarrollo para
                asegurar una implementación precisa y alineada con los objetivos
                del proyecto.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño y desarrollo de la landing page del producto, con foco en
                comunicación clara del valor del MVP y conversión.
              </li>
              <li class="list-disc list-outside pl-5">
                Diseño e implementación de la capa visual de la aplicación web,
                asegurando una interfaz moderna, accesible y coherente con el
                sistema de diseño establecido.
              </li>
              <li class="list-disc list-outside pl-5">
                Aplicación de la metodología Design Thinking para estructurar
                soluciones centradas en el usuario mediante investigación,
                ideación y pruebas iterativas.
              </li>
            </ul>
          </main>
          <footer
            class="flex flex-row items-center justify-center gap-6 w-full border-t-2 border-[#d1d1d1] pt-8"
          >
            <div
              class="bg-primary text-white font-semibold py-2 px-6 md:px-10 text-sm lg:text-base"
            >
              Referencias:
            </div>
            <div class="text-center text-sm lg:text-base">
              Eduardo Sánchez- CO del proyecto <br /> +57 3183400992
            </div>
          </footer>
        </article>
      </div>
    </section>
    <section
      id="proyectos-container"
      class="bg-[url(/fondoDos.svg)] bg-[length:20px] w-screen flex flex-col items-center"
    >
      <Subtitulo align="left" type="UX/UI Designer" text="Proyectos" />
      <div class="grid gap-12 py-20 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        {proyectosUX.map((proyecto) => <Card {...proyecto} />)}
      </div>
      <Subtitulo align="right" type="Front-End" text="Proyectos" />
      <div class="grid gap-12 py-20 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        {proyectosFront.map((proyecto) => <Card {...proyecto} />)}
      </div>
    </section>
    <section id="estudios-container" class="w-screen -mt-8">
      <Subtitulo align="center" type="Estudios" />
      <div class="flex flex-col gap-10 justify-center items-center py-20">
        {
          estudios.map((estudio) => (
            <CardEstudios
              duration={estudio.duration}
              institution={estudio.institution}
              title={estudio.title}
              descriptions={estudio.descriptions}
              link={estudio.link}
              tags={estudio.tags}
            />
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
