---
import { proyectosUX, proyectosFront } from "@/data/portfolio.ts";
import { estudios } from "@/data/studies.ts";

import Layout from "@/layouts/Layout.astro";
import RedesBoton from "@/components/RedesBoton.astro";
import { Icon } from "astro-icon/components";
import BarNav from "@/components/BarNav.astro";
import Subtitulo from "@/components/Subtitulo.astro";
import Card from "@/components/Card.astro";
import CardEstudios from "@/components/CardEstudios.astro";
---

<Layout title="Gabriela Ferrer - Bienvenido a mi portafolio.">
  <BarNav />
  <main class="flex flex-col items-center gap-8">
    <section id="sobre-mi-container"
      class="min-h-screen max-w-[1024px] flex flex-col lg:flex-row items-center justify-center gap-5 px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0 font-medium"
    >
      <div id="izquierda" class="flex flex-col items-center gap-2 lg:w-1/3">
        <div
          id="foto-perfil"
          class="bg-[url(/images/Foto.webp)] bg-cover bg-center rounded-full w-40 aspect-square md:w-48 md:h-48 shadow-[0px_0px_7px_0px_rgba(0,_0,_0,_0.4)] border-4 border-white"
        >
        </div>
        <h2
          class="font-bold text-center text-[clamp(1.25rem,_1.114rem_+_0.727vw,_1.75rem)]"
        >
          <span class="text-primary">Front-End</span> Developer <span
            class="text-primary"
          >
            <br />UX / UI</span
          > Designer
        </h2>
      </div>

      <div
        id="biografia"
        class="lg:w-2/3 flex flex-col gap-4 lg:gap-5 text-center lg:text-left"
      >
        <h1 class="text-[clamp(1.25rem,_1.114rem_+_0.727vw,_1.75rem)]">
          Hola, soy <span class="font-bold text-primary">Gabriela Ferrer.</span>
        </h1>
        <p class="text-sm lg:text-base font-medium leading-tight">
          Como estudiante me encuentro empapándome de lo que es mundo visual del
          diseño web. Actualmente mis estudios se centran en Diseño UX UI y
          Desarrollo Front End. Mis conocimientos los adquiero mayormente de
          manera autodidacta y los afianzo mediante la práctica. Mi aspiración a
          corto - mediano plazo es formar parte de un equipo sólido donde pueda
          crecer y poner en practica lo que me apasiona.
        </p>
        <div
          id="tags-container"
          class="flex flex-col items-center gap-4 md:gap-6 lg:gap-8"
        >
          <div id="mis-redes" class="flex flex-wrap justify-center gap-4">
            <RedesBoton href="https://github.com/MorganSnape" text="Github">
              <Icon name="fa6-brands:github" />
            </RedesBoton>
            <RedesBoton
              href="https://www.linkedin.com/in/gabriela-de-los-angeles-ferrer-martinez-8a45771a4/"
              text="LinkedIn"
            >
              <Icon name="fa6-brands:linkedin" />
            </RedesBoton>
            <RedesBoton
              href="https://drive.google.com/file/d/1tMw3JAQtm4yafKsjk5v3OTWTX1Hub3a6/view?usp=sharing"
              text="Currículum"
            >
              <Icon name="bxs:file-blank" /></RedesBoton
            >
          </div>
          <div
            id="disponible"
            class="text-sm lg:text-sm font-semibold border border-[#94ae7b] rounded-full bg-[#bee09d] text-[#222C18] py-1.5 px-10 lg:px-14 shadow-[inset_0px_0px_10.3px_5px_rgba(125,_147,_103,_0.25)]"
          >
            Disponible para trabajar
          </div>
        </div>
      </div>
    </section>
    <section id="experiencia-container" class="w-screen flex flex-col items-center">
      <Subtitulo align="center" type="Experiencia" />
      <div class="flex items-center gap-10 py-20 min-w-xs px-[clamp(0.75rem,_-1.974rem_+_14.53vw,_5rem)] lg:px-0">
        <article class="flex flex-col gap-8">
          <header class="flex flex-col gap-2">
            <p class="text-primary font-bold text-xs">Nov, 2024 - Actualmente</p>
            <h4 class="font-semibold bg-secondary text-md md:text-lg py-1 px-2 w-fit">User Experience Designer </h4>
            <p class="tracking-[6px] font-bold text-sm lg:text-base">Proyecto JetChat</p>
          </header>
          <main>
            <ul class="text-sm lg:text-base">
             <li class="list-disc list-inside">Desarrollo de sistema de diseño usando las pautas establecidas por la empresa.</li>
             <li class="list-disc list-inside">Diseño de flujo de navegación del usuario, manteniendo la simpleza y coherencia del proyecto.</li>
             <li class="list-disc list-inside">Diseño de Wireframes y Mockups en conjunto del equipo de desarrollo del proyecto.</li>
             <li class="list-disc list-inside">Auxiliar de desarrollo en partes puntuales del Frontend.</li>
           </ul>
          </main>
          <footer class="flex flex-row items-center justify-center gap-6 w-full border-t-2 border-[#d1d1d1] pt-8">
            <div class="bg-primary text-white font-semibold py-2 px-6 md:px-10 text-sm lg:text-base">Referencias:</div>
            <div class="text-center text-sm lg:text-base">Juan Giraldo - CTO del proyecto <br> +57 3044757582</div>
          </footer>
        </article>
      </div>
    </section>
    <section id="proyectos-container" class="bg-[url(/fondoDos.svg)] bg-[length:20px] w-screen flex flex-col items-center">
      <Subtitulo align="left" type="UX/UI Designer" text="Proyectos"/>
      <div class="grid gap-12 py-20  grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        {
          proyectosUX.map((proyecto) => (
            <Card {...proyecto} />
          ))
        }
      </div>
      <Subtitulo align="right" type="Front-End" text="Proyectos"/>
      <div class="grid gap-12 py-20 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
        {
          proyectosFront.map((proyecto) => (
            <Card {...proyecto} />
          ))
        }
      </div>
    </section>
    <section id="estudios-container" class="w-screen -my-8">
      <Subtitulo align="center" type="Estudios"/>
      <div class="flex flex-col gap-10 justify-center items-center py-20">
      {
        estudios.map((estudio) => (
          <CardEstudios duration={estudio.duration} institution={estudio.institution} title={estudio.title} descriptions={estudio.descriptions} link={estudio.link} tags={estudio.tags} />
        ))
      }
      
      </div>
    </section>
  </main>
  <footer id="footer" class="bg-[#ffe971] border-t border-black h-12 flex justify-center items-center">
    <a href="mailto:gabriellangeles@outlook.com" class="text-base font-semibold max-[360px]:text-sm">
      gabriellangeles@outlook.com
    </a>
  </footer>
</Layout>
