---
interface Props {
  title: string;
  body: string;
  href: string;
  tags?: string[];
  size?: "sm" | "md" | "xl";
  src: string;
  alt?: string;
}

const { href, title, body, src, alt } = Astro.props;

let { size, tags } = Astro.props;

if (size === undefined) {
  size = "sm";
}

let tagss: string[] = [];
if (tags) {
  tagss = tags.slice(0, 2);
}
---

<article class:list={["link-card", "link-card-" + size]}>
  <a
    class:list={["element-card-content", "element-card-content-" + size]}
    href={href}
  >
    <div class="tags-fotos">
      <div class="tags-container">
        {
          tags?.map((tag) => {
            return (
              <span class="tag">
                {tag}
              </span>
            );
          })
        }
      </div>
      <img
        src={src}
        alt={alt}
        class:list={["foto-card", "foto-card-" + size]}
      />
    </div>

    <main class="text-card">
      <h4>{title}</h4>
      <p >{body}</p>
    </main>
  </a>
</article>

<style>
  .link-card {
    height: 300px;
    width: clamp(500px, 80%, 520px);
    border-radius: 10px;
    background-color: #fbfbfb;
    overflow: hidden;
    border: #d8d8d8 solid 1px;
    transition: transform 0.1s ease-in-out;
  }

  .link-card:hover {
    transform: scale(1.02);
  }

  .link-card-xl{
      width: clamp(500px, 80%, 600px);
    }
  .element-card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .element-card-content-xl::before {
    position: absolute;
    background-color: #8c659b;
    width: 80px;
    height: 12px;
    content: "";
    left: -16px;
    transform: rotate(140deg);
    top: 15px;
    z-index: 1;
  }

  .tags-fotos{
    width: 100%;
    height: 60%;
  }

  .tags-container{
    position: absolute;
    top: 8px;
    right: 0px;
  }

  .tag {
    background-color: #797979;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 16px;
    border-radius: 50px;
    font-weight: 600;
    margin: 8px;
    box-shadow: inset 0px 0px 2px 1px rgba(40, 40, 35, 0.4);
  }

  .foto-card{
    width: 100%;
    height: 100%;
    border: #d8d8d8 solid 1px;
    object-fit: cover;
  }

  .text-card{
    padding: 12px;
  }

  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    text-wrap: pretty;
  }

  h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
  }

  /*Vista Movil*/

  @media (max-width: 768px){

    .link-card-xl{
      width: clamp(280px, 80%, 500px);
      height: minmax(300px, 700px);
    }

    .link-card-md{
      width: clamp(280px, 80%, 320px); 
    }

    /* .link-card-md {
      width: clamp(280px, 80%, 320px);
    } */
    /* .link-card-xl {
      
    } */
  }
</style>
