---
interface Props {
  title: string;
  body: string;
  href: string;
  tags?: string[];
  size?: "sm" | "md" | "xl";
  src: string;
  alt?: string;
}

const { href, title, body, src, alt } = Astro.props;

let { size, tags } = Astro.props;

if (size === undefined) {
  size = "sm";
}

let tagss: string[] = [];
if (tags) {
  tagss = tags.slice(0, 2);
}
---

<section class:list={["link-card", "link-card-" + size]}>
  <a href={href} class:list={["element-card-content", "element-card-content-" + size]}>
    <div class="text-card">
    
      <div>
        <div class="tags-container">
          {
            tagss.map((tag) => {
              return <span class="tag">{tag}</span>;
            })
          }
        </div>

        <h4>{title}</h4>
        <p>{body}</p>

        <slot/>
      </div>
    </div>

    <img src={src} alt={alt} class:list={["foto-card", "foto-card-" + size]} />
  </a>
</section>





<style>
  /*Estilos del size sm */
  .link-card-sm {
    width: clamp(400px, 40%, 500px);

  }
  .foto-card-sm {
    height: 200px;
    /* width: 260px; */
  }


  /*Estilos del size md */
  .link-card-md {
    width: clamp(400px, 60%, 560px);
  }

  .foto-card-md {
    height: 200px;
    /* width: 280px; */
  }
  /*Estilos del size xl */
  .link-card-xl{
    width: clamp(400px, 60%, 700px);
    position: relative;
    overflow: hidden;
  }

  .element-card-content-xl::before{
    position: absolute;
    background-color: #8c659b;
    width: 80px;
    height: 12px;
    content: "";
    left: -16px;
    transform: rotate(140deg);
    top: 15px;
  }

  .foto-card-xl {
    height: 200px;
    /* width: 280px; */
  }

  /*Estilos Generales de las Cards*/
  .link-card {
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    background-color: #fbfbfb;
    border: #d8d8d8 2px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 0px;
    transition: transform 0.1s ease-in-out;
  }

  .link-card:hover {
    transform: scale(1.02);
  }

  .element-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }


  .text-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  h4 {
    margin-bottom: 0px;
  }
  .foto-card {
    border-radius: 10px;
    border: #d8d8d8 solid 1px;
    overflow: hidden;
    object-fit: cover;
    width: clamp(100px, 45%, 300px);
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    width: fit-content;
    
  }
  .tag {
    font-size: 14px;
    background-color: #8c659b;
    width: fit-content;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    box-shadow: inset 0px 0px 8px 1px rgba(35, 35, 35, 0.4);
  }
  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    text-wrap: balance;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
  }
</style>
