---
interface Props {
  title: string;
  body: string;
  href: string;
  tags?: string[];
  size?: "sm" | "md";
  src: string;
  alt?: string;
}

const { href, title, body, src, alt } = Astro.props;

let { size, tags } = Astro.props;

if (size===undefined) {
  size = "sm";
}

let tagss: string[] = [];
if (tags) {
  tagss = tags.slice(0, 2);
}
---

<li class:list={["link-card", "link-card-" + size]}>
  <a href={href} class="element-card-content">
    <div class="text-card">
      {
        tagss.map((tag) => {
          return <span class="tag">{tag}</span>;
        })
      }

      <div>
        <h4>{title}</h4>
        <p>{body}</p>
      </div>
    </div>
    <img src={src} alt={alt} class:list={["foto-card", "foto-card-" + size]}/>
  </a>
</li>

<style>

  .foto-card-sm {
    height: 200px;
    width: 200px;
  }
  .link-card-sm {
    width: clamp(400px, 40%, 400px);

  }
  .link-card-md {
    width: clamp(400px, 60%, 500px);
  }

  .foto-card-md {
    height: 200px;
    width: 300px;
  }

  /* Estilos Generales*/ 

  .link-card {
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    background-color: #fbfbfb;
    border: #676767 solid 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px 2px;
  }
  .element-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .text-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .foto-card {
    border-radius: 10px;
    border: #676767 solid 1px;
    overflow: hidden;
  }
  .tag {
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
    align-items: center;
    background-color: #8c659b;
    width: fit-content;
    padding: 8px 30px;
    border-radius: 100px;
    color: white;
    font-weight: 600;
    box-shadow: inset 0px 0px 8px 1px rgba(35, 35, 35, 0.4);
  }
  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
  }

  h4 {
    font-weight: 600;
  }
</style>
