---
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  institution?: string;
  descriptions: string[];
  link?: string;
  tags?: string[];
  duration?: string;
}

const { title, descriptions, link, tags,institution,duration } = Astro.props;
---

<article class="shadow-primary w-[80vw] max-w-[1000px] rounded-lg p-4 md:py-5 md:px-12 bg-white flex flex-col justify-between gap-5 min-h[300px]">
  <div class="flex flex-wrap gap-2">
    {
      tags &&
        tags.map((tag) => (
          <div class="bg-secondary text-black py-0.5 px-2 md:px-4 w-fit text-xs font-semibold border-1 border-black ">
            {tag}
          </div>
        ))
    }
  </div>
  <main>
    <h4 class="text-md md:text-lg font-semibold">{title}<span class="text-primary">{` | ${duration}`}</span></h4>
    <p class="text-primary font-bold text-xs">{institution}</p>
    <ul class="columns-2 gap-x-2 md:gap-x-6 mt-5 flex-grow">
    {
      descriptions &&
      descriptions.map(( description) => (
          <li class="text-xs md:text-sm text-text-card text-pretty list-disc list-inside">
            { description}
          </li>
        ))
    }
    </ul>
  </main>
  <footer>
    {
      link && (
        <a
          href={link}
          target="_blank"
          class="cursor-pointer w-fit border-2 border-primary rounded-lg px-4 py-2 text-primary font-semibold text-sm hover:bg-primary hover:text-white transition duration-300 ease-in-out flex items-center gap-1"
        >
          <Icon name="g-link" height={20} width={20} />
          Ver certificado
        </a>
      )
    }
  </footer>
</article>
