---
import { type Proyect } from "@/models";
import { Icon } from "astro-icon/components";

interface Props extends Proyect {
  section: "UX" | "Front";
}
const {
  slug,
  name,
  descriptionProject,
  frontPage,
  tags,
  nameProject,
  specialTag,
} = Astro.props;
---

<a
  href={`/proyectos/${slug}`}
  target="_blank"
  class="inline-block snap-start shrink-0"
>
  <article
    class={`group cursor-pointer flex flex-col border-2 border-black rounded-xl md:rounded-2xl overflow-hidden h-[368px] w-[312px] md:w-[400px] lg:w-[480px] md:min-h-[240px] bg-white flex-shrink-0 mx-auto`}
  >
    <div
      class="h-10 py-4 flex flex-row items-center gap-2 px-4 border-b-4 border-black"
    >
      <div class="h-3 w-3 bg-black rounded-full"></div>
      <div class="h-3 w-3 bg-black rounded-full"></div>
      <div class="h-3 w-3 bg-black rounded-full"></div>
    </div>
    <header
      class="relative border-b-2 border-black h-1/3 w-full bg-black overflow-hidden md:flex-shrink-0"
    >
      <img
        src={frontPage}
        alt={"Portada del proyecto " + name}
        class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110 bg-primary/10"
      />
      {
        specialTag && (
          <span class="absolute bg-primary/80 rounded-full px-3 py-0.5 bottom-2 right-2 font-medium border-2 border-primary text-sm text-white">
            {specialTag}
          </span>
        )
      }
    </header>
    <main class="flex flex-col gap-2 p-4 justify-between w-full md:flex-1">
      <h4 class="text-md md:text-lg font-semibold">{nameProject}</h4>
      <div class="flex flex-wrap gap-2">
        {
          tags
            ?.slice(0, 4)
            .map((tag) => (
              <div class="bg-secondary text-black border border-black py-0.5 px-2 md:px-4 w-fit text-xs font-semibold">
                {tag}
              </div>
            ))
        }
      </div>
      <p class="text-xs md:text-sm text-pretty line-clamp-3">
        {descriptionProject}
      </p>
      <div>
        <button
          class="cursor-pointer
      
      px-3 py-2
      font-medium text-sm
      flex items-center gap-4
      w-fit
      transition-colors duration-300 ease-in-out text-black rounded-lg"
        >
          <Icon
            name="fa6-solid:arrow-up"
            height={20}
            width={20}
            class="transition-transform ease-in-out duration-200 rotate-45 group-hover:rotate-90"
          />

          <span
            class="overflow-hidden font-semibold
        max-w-0
        opacity-0
        whitespace-nowrap
        transition-all duration-300 ease-in-out
        group-hover:max-w-[120px]
        group-hover:opacity-100"
          >
            Ver proyecto
          </span>
        </button>
      </div>
    </main>
  </article>
</a>
