---
interface Props {
  title: string;
  body: string;
  tags?: string[];
  size?: "sm" | "md" | "xl";
  src: string;
  alt?: string;
}

const { title, body, src, alt } = Astro.props;

let { size, tags } = Astro.props;

if (size === undefined) {
  size = "sm";
}

let tagss: string[] = tags? tags.slice(0, 2) : [];
---

<article class:list={["modal", "link-card", "link-card-" + size]}>
  <div class:list={["element-card-content", "element-card-content-" + size]} }>
    <div class="tags-fotos">
      <div class="tags-container">
        {
          tagss?.map((tag) => {
            return <span class="tag">{tag}</span>;
          })
        }
      </div>
      <img
        src={src}
        alt={alt}
        class:list={["foto-card", "foto-card-" + size]}
      />
    </div>

    <main class="text-card">
      <h4>{title}</h4>
      <p>{body}</p>
    </main>
  </div>
  <footer>
    <slot />
  </footer>
</article>

<style>
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px 0 8px 0;
  }
  .link-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    background-color: #fbfbfb;
    border: #d8d8d8 solid 1px;
    transition: transform 0.1s ease-in-out;
    flex: 1 1 0;
    max-width: 440px;
    min-width: 200px;
  }

  .link-card:hover {
    transform: scale(1.02);
  }

  .link-card-xl {
    border-radius: 10px;
    width: clamp(500px, 80%, 600px);
  }
  .element-card-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .element-card-content-xl::before {
    position: absolute;
    background-color: #8c659b;
    width: 80px;
    height: 12px;
    content: "";
    left: -16px;
    transform: rotate(140deg);
    top: 15px;
    z-index: 1;
  }

  .tags-fotos {
    width: 100%;
  }

  .tags-container {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 8px;
  }

  .tag {
    background-color: #8c659b;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: inset 0px 0px 2px 1px rgba(40, 40, 35, 0.4);
  }

  .foto-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 2.5;
    border: #d8d8d8 solid 1px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .text-card {
    padding: 12px;
  }

  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    text-wrap: pretty;
    margin-bottom: 0px;
  }

  h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .tag {
      font-size: 12px;
    }
  }
</style>
