---
interface Props {
  title: string;
  body: string;
  href: string;
  tags?: string[];
  src: string;
  alt?: string;
}
const { href, title, body, src, alt } = Astro.props;

---

<a {href} target="_blank" class="card-container">
<article class="link-card">
    <header>
      <img src={src} alt={alt} class="foto-card" />
    </header>

    <main class="text-card">
      <h4>{title}</h4>
      <p>{body}</p>
    </main>
  </article>
</a>

<style>
  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .link-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 800px;
    min-width: 200px;
    border-radius: 10px;
    background-color: #fbfbfb;
    border: #d8d8d8 solid 1px;
    transition: transform 0.1s ease-in-out;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:hover {
      transform: scale(1.02);
    }
  }


  .link-card::before {
    position: absolute;
    background-color: #8c659b;
    width: 80px;
    height: 12px;
    content: "";
    right: -16px;
    transform: rotate(221deg);
    top: 15px;
    z-index: 1;
  }

  header {
    aspect-ratio: 16/9;
    width: 60%;
    height: 100%;
  }

  .foto-card {
    width: 400px;
    height: 100%;
    border: #d8d8d8 solid 1px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
  }

  .text-card {
    padding: 12px;
  }

  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    text-wrap: pretty;
    margin-bottom: 0px;
  }

  h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
  }

/* Vista Movil */
  @media (max-width: 690px) {
    .link-card{
      flex-direction: column;
      width: clamp(500px, 80%, 500px);
    }
    header{
      aspect-ratio: inherit;
    }
    .foto-card {
    width: 100%;
    max-height: 200px;
  }

  .link-card::before {
    left: -16px;
    transform: rotate(130deg);
  }
  }
</style>
