---
interface Props {
  title: string;
  body: string;
  href: string;
  tags?: string[];
  src: string;
  alt?: string;
}

const { href, title, body, src, alt } = Astro.props;

let { tags } = Astro.props;

let tagss: string[] = [];
if (tags) {
  tagss = tags.slice(0, 2);
}
---

<article class="link-card">
  <a {href} target="_blank" class="element-card-content">
    <div class="tags-fotos">
      <div class="tags-container">
        {
          tags?.map((tag) => {
            return <span class="tag">{tag}</span>;
          })
        }
      </div>
      <img src={src} alt={alt} class="foto-card" />
    </div>

    <main class="text-card">
      <h4>{title}</h4>
      <p>{body}</p>
    </main>
  </a>
  <footer>
    <slot />
  </footer>
</article>

<style>
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 8px 0 8px 0;
  }
  .link-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex: 1;
    max-width: 520px;
    min-width: 200px;
    border-radius: 10px;
    background-color: #fbfbfb;
    border: #d8d8d8 solid 1px;
    transition: transform 0.1s ease-in-out;
    border-radius: 10px;
    /* width: clamp(500px, 80%, 600px); */

    &:hover {
      transform: scale(1.02);
    }
  }

  .element-card-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .element-card-content::before {
    position: absolute;
    background-color: #8c659b;
    width: 80px;
    height: 12px;
    content: "";
    left: -16px;
    transform: rotate(140deg);
    top: 15px;
    z-index: 1;
  }

  .tags-fotos {
    width: 100%;
    height: 60%;
  }

  .tags-container {
    position: absolute;
    top: 8px;
    right: 0px;
  }

  .tag {
    background-color: #8c659b;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 50px;
    font-weight: 500;
    margin: 8px;
    box-shadow: inset 0px 0px 2px 1px rgba(40, 40, 35, 0.4);
  }

  .foto-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 24/9;
    border: #d8d8d8 solid 1px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }

  .text-card {
    padding: 12px;
  }

  p {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    font-family: "Fredoka", sans-serif;
    width: 100%;
    text-wrap: pretty;
    margin-bottom: 0px;
  }

  h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
  }

  /*Vista Movil*/

  @media (max-width: 768px) {
    .link-card {
      /* width: clamp(280px, 80%, 500px); */
    }
  }
</style>
