---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  imageUrl: string;
  linkUX?: string;
  linkGit?: string;
  linkSite?: string;
  tags?: string[];
  type?: TypesValues;
}

enum types {
  UX = "UX",
  Front = "Front",
  undefined = "undefined",
}
type TypesValues = `${types}`;

const { title, description, imageUrl, linkUX, linkGit, linkSite, tags, type: typeInput } = Astro.props;

const type: TypesValues = typeInput ? typeInput : types.undefined;
---

<article
  class="shadow-primary bg-white card w-[320px] h-[420px] rounded-lg overflow-hidden p-4 flex flex-col justify-between"
>
  <header class="gap-4 flex flex-col">
    <img
      src={imageUrl}
      alt={"Portada del proyecto " + title}
      class="border-1 border-tertiary rounded-lg aspect-video w-full object-cover"
    />
    <div class="flex flex-wrap gap-2">
      {
        tags &&
          tags.map((tag) => (
            <div class="bg-secondary text-black py-0.5 px-4 w-fit text-xs font-semibold border-1 border-black ">
              {tag}
            </div>
          ))
      }
    </div>
    <h4 class="text-lg font-semibold">{title}</h4>
  </header>
  <main class="flex-grow">
    <p class="text-sm text-text-card text-pretty">{description}</p>
  </main>
  <footer class="py-4">

  {types[type]==="UX" && (
    <a
      href={linkUX}
      target="_blank"
      class="cursor-pointer w-fit border-2 border-primary rounded-lg px-4 py-2 text-primary font-semibold text-sm hover:bg-primary hover:text-white transition duration-300 ease-in-out flex items-center gap-1"
    >
      <Icon name="g-link" height={20} width={20} />Ver más
    </a>)
  }

  {
    types[type]==="Front" && (
      <div class="flex flex-row gap-2">
        <a
        href={linkSite}
        target="_blank"
        class="cursor-pointer w-fit rounded-full p-0.5 text-primary hover:bg-primary hover:text-white transition duration-300 ease-in-out flex items-center justify-center "
      >
        <Icon name="fa6-solid:earth-americas" height={32} width={32}/> 
      </a>
      <a
        href={linkGit}
        target="_blank"
        class="cursor-pointer  rounded-full text-primary p-0.5 hover:bg-primary hover:text-white transition duration-300 ease-in-out flex items-center justify-center "
      ><Icon name="fa6-brands:github" height={32} width={32} />
      </a>
      </div>)
  }
  </footer>
</article>
