---
import { proyectos } from "@/data/portfolio.ts";

import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
import { Icon } from "astro-icon/components";
import RedesBoton from "@/components/RedesBoton.astro";
import BarNav from "@/components/PaginaDinamica/BarNav.astro";
import DetailsProyectItem from "@/components/PaginaDinamica/DetailsProyectItem.astro";

export async function getStaticPaths() {
  return proyectos.flatMap((proyecto) => {
    return {
      params: { slug: proyecto.slug },
    };
  });
}

const { slug } = Astro.params;
const proyecto = proyectos.find((proyecto) => proyecto.slug === slug);

if (!proyecto) {
  throw new Error("No existe el proyecto");
}

const {
  nameProject,
  name,
  date,
  projectType,
  brandDescription,
  frontPage,
  duration,
  myRole,
  client,
  linkFigma,
  linkWebsite,
  shortDescription,
  descriptionProject,
  constraints,
  tags,
} = proyecto;
---

<Layout title=`Este es el proyecto ${name}`>
  <BarNav />
  <main class="flex flex-col items-center gap-10">
    <div
      class="fixed bottom-10 right-4 md:right-10 z-50 flex flex-col md:flex-row gap-4"
    >
      {
        linkFigma && (
          <RedesBoton href={linkFigma} text="Ver Figma" block={true}>
            <Icon name="fa6-brands:figma" height={20} width={20} />
          </RedesBoton>
        )
      }
      {
        linkWebsite && (
          <RedesBoton href={linkWebsite} text="Ver Pagina" block={true}>
            <Icon name="fa6-solid:earth-americas" height={20} width={20} />
          </RedesBoton>
        )
      }
    </div>
    <section id="inicio" class="flex flex-col items-center w-full">
      <div
        class="flex flex-col gap-4 items-start w-11/12 max-w-[1120px] pb-8 pt-20"
      >
        <h1 class="titleH3 text-center font-bold font-jost">
          {nameProject} - {myRole}
        </h1>
        <p class="text-lg lg:text-xl font-medium leading-tight">
          {shortDescription}
        </p>
        <ul
          class="w-full text-black font-medium text-sm md:text-base flex flex-wrap md:flex-row items-center gap-4 py-2"
        >
          <li class="flex flex-row gap-3 items-center">
            <div
              class="h-10 w-10 rounded-full flex justify-center bg-primary overflow-hidden bg-cover bg-center border-2 border-primary"
            >
              <img
                src="/images/Foto.png"
                alt="Foto de Gabsriela Ferrer usando un sueter rosa y sonriendo."
                class="w-full h-full object-cover object-top"
              />
            </div>
            <p class="font-semibold">Gabriela Ferrer</p>
          </li>
          <li class="mx-6">
            <p class="text-black text-base">
              {date}
            </p>
          </li>
          {
            tags &&
              tags.map((tag) => (
                <li class="bg-secondary text-black py-0.5 px-2 md:px-4 w-fit text-xs font-semibold border-1 border-black ">
                  {tag}
                </li>
              ))
          }
        </ul>
      </div>
      <img
        src={frontPage}
        alt={`Portada del proyecto ${name}`}
        class="h-[220px] md:h-[420px] w-full object-cover"
      />
    </section>

    <section
      id="acerca"
      class="w-11/12 max-w-[1120px] flex flex-col gap-8 mb-8"
    >
      {
        brandDescription && (
          <div class="flex flex-row gap-6 items-stretch w-fit">
            <div class="w-3 bg-primary" />
            <p class="italic text-sm md:text-base">{brandDescription}</p>
          </div>
        )
      }
      <h2 class="title-h2 efectoResaltador">
        Acerca de {name}
        {projectType}
      </h2>
      <p
        class="text-pretty text-sm lg:text-base font-medium whitespace-pre-wrap"
      >
        {descriptionProject}
      </p>
      <div
        class="bg-primary border-2 border-black rounded-xl md:rounded-2xl overflow-hidden md:w-10/12 max-w-4xl mx-auto"
      >
        <div
          class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black"
        >
          <div class="h-3 w-3 bg-black rounded-full"></div>
          <div class="h-3 w-3 bg-black rounded-full"></div>
          <div class="h-3 w-3 bg-black rounded-full"></div>
        </div>
        <div class="p-4 lg:px-6 lg:py-8">
          <ul
            class="bg-primary w-full text-white font-medium text-sm md:text-base grid grid-cols-3 gap-4"
          >
            <DetailsProyectItem
              detailName="Empresa"
              content={name}
              icon="bxs:briefcase"
            />

            <DetailsProyectItem
              detailName="My rol"
              content={myRole}
              icon="bxs:user"
            />
            <DetailsProyectItem
              detailName="Duración"
              content={duration}
              icon="bxs:time"
            />
            <DetailsProyectItem
              detailName="Tipo de negocio"
              content="Híbrido B2C y B2B"
              icon="bxs:briefcase"
            />
            <DetailsProyectItem
              detailName="Tipo de proyecto"
              content={client}
              icon="bxs:briefcase"
            />
            <DetailsProyectItem
              detailName="Restricciones"
              content={constraints}
              icon="bxs:briefcase"
            />
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
<Footer />
