---
import type { ProyectIdeation } from "@/models";

type Props = {
  ideation?: ProyectIdeation;
};

const { ideation } = Astro.props;
---

<section class="flex flex-col gap-12">
  <h2 class="titleProyecto">Ideación</h2>
  <p>
    {ideation?.overview}
  </p>
  {
    ideation?.sitemapImage && (
      <h3 class="subtituloProyecto efectoResaltador">Sitemap</h3>
      <img
        class="w-full mx-auto"
        src={ideation?.sitemapImage}
        alt="Sitemap"
      />

    )
  }
  {
    ideation?.userFlowImage &&(
      <h3 class="subtituloProyecto efectoResaltador">User flow</h3>
      <img
        class="h-4xl mx-auto"
        src={ideation?.userFlowImage}
        alt="User flow"
      />

    )
  }

  {
    ideation?.sketchImage && ideation?.wireframeImage && (
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col gap-12">
        <h3 class="subtituloProyecto efectoResaltador">Sketch</h3>
        <img
          class="h-4xl"
          src={ideation?.sketchImage}
          alt="Sketch"
        />
      </div>
      <div class="flex flex-col gap-12">
        <h3 class="subtituloProyecto efectoResaltador">Wireframe</h3>
        <img
          class="h-4xl"
          src={ideation?.wireframeImage}
          alt="Wireframe"
        />
      </div>
    </div>

    )
  }
</section>
