---
import type { ProyectResearch } from "@/models";
import Estrella from "@/assets/estrella.svg";

type Props = {
  research?: ProyectResearch;
};

const { research } = Astro.props;
---

<section class="flex flex-col gap-12">
  <h2 class="titleProyecto">Investigación</h2>
  <p class="whitespace-pre-wrap">
    {research?.overview }
  </p>
  {
    research?.image && (
      <img
        class="h-4xl mx-auto"
        src={research?.image}
        alt="Imagen de investigación"
      />
    )
  }
{research?.benchmark && (
  <h3 class="subtituloProyecto efectoResaltador">
    Benchmark - Análisis Competitivo
  </h3>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  {
    (research?.benchmark ?? []).map((item) => (
      <article class="border-2 border-black rounded-xl md:rounded-2xl overflow-hidden">
        <div class="h-10 bg-white flex flex-row items-center gap-2 px-4 border-b-4 border-black">
          <div class="h-3 w-3 bg-black rounded-full" />
          <div class="h-3 w-3 bg-black rounded-full" />
          <div class="h-3 w-3 bg-black rounded-full" />
        </div>
        <div class="min-w-80 p-4 lg:px-6 lg:py-8 flex flex-col items-center gap-4 bg-primary">
          <img
            src={item.image ?? "/images/BaseImagen.jpg"}
            alt={item.title}
            class="h-32 w-32 object-cover rounded-full border-8 border-white shadow-2xl"
          />
          <footer class="font-semibold  text-center flex flex-col gap-2 text-white">
           <p class="text-xl font-fantabular">
             {item.title}
            </p>
          <p class="text-center">{item.competitionType}</p>
          <p class="text-sm text-center">{item.description}</p>
          </footer>
        </div>
      </article>
    ))
  }
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 lg:gap-40">
    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-4 items-center">
        <Estrella class="h-8 w-8" />
        <h3 class="subtituloProyecto">Fortalezas y limitaciones</h3>
      </div>
      <p class="text-balance">
        { research.strengths}
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-row gap-4 items-center">
        <Estrella class="h-8 w-8" />
        <h3 class="subtituloProyecto">Nuestra oportunidad</h3>
      </div>
      <p class="text-balance">
        {research.opportunity }
      </p>
    </div>
  </div>

)}

{research?.userPersona && (
    <h3 class="subtituloProyecto efectoResaltador">User Persona</h3>
  <p>
  {research.userPersona.decription}
  </p>

  <img
    class="w-full"
    src={research?.userPersona.image}
    alt="Imagen de investigación user persona"
  />
)}
</section>
